@model Daisy.Web.Models.BlogDetailViewModel
@{
    ViewBag.Title = "Blog";
}

<div class="container">
    <div class="row">
        <div class="box">
            @if (Model.Blog != null)
            {
                <div class="col-lg-12 text-center">
                    <h2>
                        <span class="daisy-font2">@Model.Blog.Title</span>
                        <br>
                        <small><span class="daisy-font1">@Model.Blog.CreatedDate.ToString("MMMM dd, yyyy")</span></small>
                    </h2>
                    @*<img class="img-responsive img-border img-full" src="https://farm9.staticflickr.com/8015/7689928804_4d51543c63_b.jpg" alt="">*@                    
                    <div class="text-justify">@Html.Raw(HttpUtility.HtmlDecode(@Model.Blog.Content))</div>
                </div>
            }
        </div>
    </div>
</div>
<!-- /.container -->
