@model Daisy.Web.Models.PagedListBlogViewModel
@{
    ViewBag.Title = "Blogs";
}

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Daisy
                    <strong>blog</strong>
                </h2>
                <hr>
            </div>

            @if (Model.Blogs.TotalCount > 0)
            {
                foreach (var blog in Model.Blogs.Items)
                {
                    <div class="col-lg-12 text-center">
                        <h2>
                            <span class="daisy-font2">@blog.Title</span>
                            <br>
                            <small><span class="daisy-font1">@blog.CreatedDate.ToString("MMMM dd, yyyy")</span></small>
                        </h2>
                        <p class="text-justify">@Html.Raw(HttpUtility.HtmlDecode(@blog.Content))</p>
                        <a href="/blog/@blog.Id" class="btn btn-default btn-lg">Read More</a>
                        <hr>
                    </div>
                }

                <div class="col-lg-12 text-center">
                    <ul class="pager">
                        <li class="previous">
                            <a href="#">&larr; Older</a>
                        </li>
                        <li class="next">
                            <a href="#">Newer &rarr;</a>
                        </li>
                    </ul>
                </div>
            }                       
        </div>
    </div>
</div>
<!-- /.container -->