.daisy-header {
    height: 250px;
    width: 100%;
}

.daisy-top-menu {
    background-color:#fff;
}

.album-thumbnail {
    height: 250px;
    margin: 10px 10px 10px 10px;
}

.album-title {
    height: 2.6em;
    color: #ffffff;
    margin-left: 10px;
}

.album-thumbnail-border {
    width:290px;
    height: 290px;
    background-color:#101010;
}

.photo-list-album-view {
  background-size: cover;
}

.center {
    margin: 0 auto;
    float:none;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);/* For IE8 and earlier */
}

.loader {
    left: 50%;
    top: 50%;
    position:absolute;
}

.pagination > li > a:hover {
    cursor: pointer;
}

.spacer {
	margin-top:20px;
}

.fotorama__wrap {
    margin: 0 auto;
}

.link {
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    border-bottom: 3px solid transparent;
    margin-right: 10px;
    display: inline-block;
    -webkit-transition: border-bottom 100ms linear;
    -moz-transition: border-bottom 100ms linear;
    -o-transition: border-bottom 100ms linear;
    transition: border-bottom 100ms linear;
}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link.selected, .link:hover {
    border-bottom: 3px solid #0091dc;
}