@model Daisy.Web.Models.PagedListAlbumViewModel
@{
    ViewBag.Title = "Albums";
}

<div class="container-fluid">
    @foreach (var album in @Model.Albums.Items)
    {
        <div class="col-sm-4 col-md-3 col-lg-3" style="background-color:none;">
            <div class="album-thumbnail photo-list-album-view shadow scale" style="background-image:url(@album.AlbumThumbnailUrl)">
                <a href="/Album/@album.Id" style="display:block;height:100%;"></a>
            </div>
        </div>
    }
</div>

<div class="container-fluid">
    <div class="form-inline">
        <div id="paging" class="text-center">
            @if (Model.Albums.TotalPages > 1)
            {
                int selectedPage = Model.Albums.PageIndex + 1;
                <ul class="pagination">
                    @if (!Model.Albums.HasPreviousPage)
                    {
                        <li class="disabled"><a>&laquo;</a></li>
                    }
                    else
                    {
                        string url = "/album/page" + (selectedPage - 1).ToString();
                        <li><a href=@url>&laquo;</a></li>
                    }

                    @for (int i = 1; i <= Model.Albums.TotalPages; i++)
                    {
                        string url = "/album/page" + i.ToString();
                        bool isSelected = i == selectedPage;
                        if (isSelected)
                        {
                            <li class="active"><a>@i</a></li>
                        }
                        else
                        {
                            <li><a href=@url>@i</a></li>
                        }
                    }

                    @if (!Model.Albums.HasNextPage)
                    {
                        <li class="disabled"><a>&raquo;</a></li>
                    }
                    else
                    {
                        string url = "/album/page" + (selectedPage + 1).ToString();
                        <li><a href=@url>&raquo;</a></li>
                    }
                </ul>
            }
        </div>
    </div>
</div>

<div id="loader" class="overlay" style="display:none">
    <img class="loader" src="~/Images/loading.gif" />
</div>

@section scripts
{

}