@model Daisy.Admin.Models.PagedListAlbumViewModel
@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Search", "FlickrAlbum", FormMethod.Get, new { @class = "form-inline" }))
{
    <fieldset class="form-group">
        @Html.LabelFor(x => x.SearchOptions.AlbumName)
        @Html.TextBoxFor(x => x.SearchOptions.AlbumName)
        <button type="submit" class="btn btn-default">Search</button>
    </fieldset>
}

