@using (Html.BeginForm("Upload", "Quote", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal spacer">
        <div class="form-group">
            @Html.Label("Filename", new { @class = "control-label col-sm-1" })
            <div class="col-sm-3">
                <input type="file" name="file" id="file" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-3">
                <button id="btnUpload" class="btn btn-primary" type="submit">Upload</button>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            debugger
            var message = '@ViewBag.Message';
            if(message != ''){
                toastr.success(message);
            }
        });
</script>
}