@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    About
                    <strong>DAISY STUDIO</strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="https://farm3.staticflickr.com/2818/9310694849_74c51d94f9.jpg" alt="">
            </div>
            <div class="col-md-6 text-justify">
                <p>Daisy studio chuyên cung cấp dịch vụ chụp ảnh cưới ngoại cảnh và trong studio, chụp ảnh gia đình và trẻ em ngoại cảnh và trong studio, chụp ảnh chân dung ngoại cảnh và trong studio.</p>
                <p>Ảnh của Daisy studio theo phong cách tự nhiên, mộc mạc và đầy cảm xúc. Bạn sẽ phải ngạc nhiên khi thấy mình đẹp hơn nhưng vẫn là chính bạn trong những bức ảnh rất có hồn và cực kỳ dung dị của Daisy studio.</p>
                <p>Daisy studio có studio tại tp Hồ Chí Minh nhưng có thể đi theo bạn đến mọi miền của đất nước để ghi lại những khoảnh khắc đẹp nhất của bạn bên người thân yêu: ngoài ảnh cưới tại tp HCM, Daisy studio còn chụp tại Bình Dương, Vũng Tàu, Hồ Cốc, Đà Lạt, Nha Trang, Đà Nẵng, Hội An, Côn Đảo, Phú Quốc, Hà Nội...</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    @*<div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Our
                    <strong>Team</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>
                    John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>
                    John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>
                    John Smith
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>*@
</div>
<!-- /.container -->