.album-thumbnail {
    height: 250px;
    margin: 10px 10px 10px 10px;
}

.album-title {
    height: 2.6em;
    color: #ffffff;
    margin-left: 10px;
}

.album-thumbnail-border {
    width:290px;
    height: 290px;
    background-color:#101010;
}

.photo-list-album-view {
  background-size: cover;
}

.center {
    margin: 0 auto;
    float:none;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);/* For IE8 and earlier */
}

.loader {
    left: 50%;
    top: 50%;
    position:absolute;
}

.pagination > li > a:hover {
    cursor: pointer;
}

.spacer {
	margin-top:20px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

textarea.input-validation-error {
    border: 1px solid #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.modal-content {
    width: 90% !important;
    margin: 30px auto !important;
}

.table-hover > tbody > tr:hover {
    background-color: #c1ebeb;
}

.search-collapse {
    overflow: hidden;
    white-space: nowrap;
}
.search-collapse hr {
    display: inline-block;
    width: calc(100% - 50px);
}
.search-collapse .toggle-icon {
    height: 32px;
    width: 32px;
    display: inline-block;
    vertical-align:super;
    background: url(/Administration/Images/minus.png);
}
.search-collapse .toggle-icon.collapse {
    background: url(/Administration/Images/plus.png);
}
.search-collapse .toggle-icon:hover {
    cursor: pointer;        
}

a.table-link {
    color: #337ab7;
    text-decoration: none;
    font-weight: bold;
}

a.table-link:hover {
    color: #3598f0;
}

input.form-control.max-width {
    max-width: 100%;
}

input.max-width {
    width: 100%;
    max-width: 100%;
}

.blog-width {
    max-width: 1175px;
}

textarea.blog-width {
    height: 150px;
    resize: vertical;
}

.icon_fullscreen {
	display: none;
    cursor: pointer;
    position: absolute;
	width: 32px;
    height: 32px;
    top: 2px;
    right: 2px;   
    background: url(/Content/fotorama/fotorama.png) no-repeat;    
    background-position-x: 0;
    background-position-y: -32px;
}

.photo {
    position: relative;
}

.photo:hover .icon_fullscreen{
    display: block;
}

.draggable-item {
    cursor: move;
    border: 2px solid #000;
}
.draggable-item.over {
    border: 2px dashed #fff;
}