@using Daisy.Web.Framework.Extentions
@model Daisy.Web.Models.CategoryTopMenuModel

@if (Model != null && Model.Categories != null)
{
    foreach (var category in Model.Categories)
    {
        <li class=""><a href="~/@category.Slug">@category.Name</a></li>
    }
}
