@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Page Not Found";
}

<h1>Sorry, this page isn't available</h1>
The link you followed may be broken, or the page may have been removed.